*
{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
}
.logo img
{
    width: 45%;
}
a
{
    color: black;
    text-decoration: none;
}