*
{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.header
{
    margin: 35px;
}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img
{
    width: 45%;
}
a
{
    color: black;
    text-decoration: none;
}
.filtres
{
    display: inline;
}
.filtre
{
    display: inline-block;
}
.filtrage
{
    display: flex;
}
.main
{
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
}
.footer
{
    margin: 35px;
}
.hebergements
{
    flex-basis: 70%;
}
.card-hebergement
{
    flex-basis: 30%;
}
.cards
{
    display: flex;
    flex-wrap: wrap;
}
.card-hebergement img
{
    width: 100%;
    height: 158px;
}
.card-aside
{
    display: flex;
    flex-direction: column;
}
.card-populaire img
{
    width: 60%;
    height: 120px;
}