/* Propriétés globales */
*
{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a
{
    color: black;
    text-decoration: none;
}
ul
{
    list-style-type: none;
}
.fa-solid
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 10px;
}
/* Header, navigation et recherche */
.header
{
    margin: 45px auto;
    max-width: 1440px;
}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-location-dot
{
    color: black;
    background-color:#F2F2F2;
}
.logo img
{
    width: 45%;
}
.filtres
{
    display: inline;
}
.filtre
{
    display: inline-block;
}
.filtrage
{
    display: flex;
}
/* Main */
.main
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
}
.balisea
{
    width: 30%;
    height: 30%;
    background-color: #FFFFFF;
    padding: 1%;
}
.fa-star
{
    background-color: #F2F2F2;
    padding: 0;
}
.notation
{
    padding: 0;
}
/* Hebergements */
.hebergements
{
  /*  max-width: 992px;
    flex-shrink: 0;
    
    
    margin-right: 20px;*/
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;

}
.cards-hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 65%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.cards-hebergements h2{
    width: 100%;
}
.card-hebergement
{
    flex-basis: 30%;
}
.card-hebergement img
{
    width: 100%;
    height: 158px;
}
figure
{
    width: 100%;
    height: 100%;
    margin: 0;
}
.populaires 
{
    /*flex-grow: 1;*/

    background-color: #F2F2F2;
    border-radius: 20px;
    /*margin-left: 20px;*/
    width: 40%;
}
#entete-populaire
{
    height: 10%;
}
.cards-populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: green;
    height: 90%;
}
.cards-populaires h3
{
    width: 90%;
}
.a-populaire
{
    width: 80%;
    height: 150px;

}
.a-populaire figure
{
    background-color: red;
}
.fa-chart-line
{
    color: black;
    background-color: #F2F2F2;

}
.card-populaire 
{
    display: flex;
}
.card-populaire img
{
    width: 30%;
    height: 100%;
}
.activites
{

}
.cards-activites
{
    display: flex;
}
.card-activite img
{
    width: 100%;
    height: 170px;
}
.cards-activites-1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.cards-activites-2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/* Footer */
.footer
{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-right: 27%;
}    